#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  main {
    flex: 1;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;

  &.dots,
  &.decimal {
    padding-left: 15px;
  }

  &.dots {
    list-style-type: disc;
  }

  &.decimal {
    list-style-type: decimal;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
